body {
  background-color: #09103f;
}
a {
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 24px;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.gallery-item {
  transition: transform 250ms ease;
}
.gallery-item:hover {
  transform: scale(0.95);
}
.gallery-image {
  width: 360px;
  height: 200px;
}
